# Example DigitalOcean Container Registry Secret
# DO NOT commit real tokens to the repository!
#
# Instead, use the script: k8s/scripts/deployment/01-create-docr-secret.sh
# which creates this secret from the DOCR_TOKEN environment variable
#
# To set the token:
# export DOCR_TOKEN=your_actual_token_here
# ./k8s/scripts/deployment/01-create-docr-secret.sh

apiVersion: v1
kind: Secret
metadata:
  name: docr-secret
  namespace: tesslate
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: BASE64_ENCODED_DOCKER_CONFIG_HERE